# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2023 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "Tesseract Orange"]
	path = Tesseract Orange
	url = https://gitlab.com/tesseract-prebuilt/tesseract-orange.git
	ignore = dirty
[submodule "Tesseract Green"]
	path = Tesseract Green
	url = https://gitlab.com/tesseract-prebuilt/tesseract-green.git
	ignore = dirty
