# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "Tesseract Orange"]
	path = Tesseract Orange
	url = https://gitlab.com/tesseract-prebuilt/tesseract-orange.git
	ignore = dirty
[submodule "Tesseract Green"]
	path = Tesseract Green
	url = https://gitlab.com/tesseract-prebuilt/tesseract-green.git
	ignore = dirty
[submodule "Tesseract Open Source OCR Engine (main repository)"]
	path = Tesseract Open Source OCR Engine (main repository)
	url = https://github.com/tesseract-ocr/tesseract.git
	ignore = dirty
[submodule "Snap packaging for the Tesseract application"]
	path = Snap packaging for the Tesseract application
	url = https://github.com/snapcrafters/tesseract.git
