# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2023 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "Tesseract Orange"]
	path = Tesseract Orange
	url = https://gitlab.com/tesseract-prebuilt/tesseract-orange.git
	ignore = dirty
[submodule "Tesseract Green"]
	path = Tesseract Green
	url = https://gitlab.com/tesseract-prebuilt/tesseract-green.git
	ignore = dirty
[submodule "Tesseract Open Source OCR Engine (main repository)"]
	path = Tesseract Open Source OCR Engine (main repository)
	url = https://github.com/tesseract-ocr/tesseract.git
	ignore = dirty
[submodule "Snap packaging for the Tesseract application: Enables easy access to the Tesseract application on snap-enabled OS distributions."]
	path = Snap packaging for the Tesseract application: Enables easy access to the Tesseract application on snap-enabled OS distributions.
	url = https://github.com/brlin-tw/tesseract-snap.git
	ignore = dirty
